/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/support";
@import "compass/css3";
@import "compass/css3/images";

$main_color: #222222;

body
{
	font-family: Anaheim;
	color: white;
	background-attachment: fixed;
	@include background(radial-gradient($main_color, black 75%));
}
a, *:visited
{
	color: #0099FF;
}
.spacer
{
	margin-top: 5px;
	width: inherit;
	height: 5px;
	@include background(radial-gradient(black, transparent 75%));
}
header
{
	width: inherit;
	
	section
	{
		width: 800px;
		margin: 0 auto;
	}
	h1, h2, h3, h4, h5, h6
	{
		font-family: Poiret One;
	}
	h1
	{
		font-size: 64px;
	}
	h2
	{
		font-size: 32px;
	}
	h3
	{
		font-size: 24px;
	}

	#title
	{	
		h1, h2
		{
			margin: 0 auto;	
			@include text-shadow(0 1px 0 rgba(255, 255, 255, 0.25));
		}
		h1
		{
			width: 600px;
		}
		h2
		{
			width: 250px;
			font-style: italic;
			color: #a292ff;
		}
	}
	#menu-bar
	{
		font-size: 24px;
		ol:nth-child(2)
		{
			padding: 0 10px;
			font-size: 16px;
		}
	}
}

.left
{
	float: left;
}
.right
{
	float: right;
}
.center
{
	margin: 0 auto;
}

.hidden
{
	display: none;
}

footer p.center
{
	width: 100px;
	text-align: center;
}
section#locus 
{
	margin-left: -15px;
	margin-bottom: 7px;
	h3 span
	{
		font-style: italic;
	}
}
video
{
	resize: both;
	max-width: 700px;
	overflow: auto;
}
img
{
	resize: both;
	max-width: 700px;
	overflow: auto;
}
div#content-block
{
	height: 700px;
	width: 700px;
	margin: 0 auto;
	h1
	{
		font-weight: bold;
		text-decoration: underline;
		font-size: 24px;
	}
	h2
	{
		font-size: 24px;
	}
	
	#spam-border
	{
		height: 300px;
		
		border: #66FF00 solid 5px;
		border-bottom-style: outset;
		border-right-style: outset;
		margin-bottom: 5px;
		
		div
		{
			overflow: auto;
			height: 279px;
		}

		table
		{
			width: 100%;
			th
			{
				width: 50%;
			}
			tr:nth-child(even) th
			{
				background: adjust-lightness($main_color, 10);
			}	
			th:first-child
			{
				color: #a292ff;
			}
		}
		table#spam-box-header * *
		{
			font-size: 18px;
			font-weight: bold;
			border-bottom: dashed white 2px;
		}
	}

}