/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 14, ../sass/screen.scss */
body {
  font-family: Anaheim;
  color: white;
  background-attachment: fixed;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 75, color-stop(0%, #222222), color-stop(75%, #000000));
  background: -webkit-radial-gradient(#222222, #000000 75%);
  background: -moz-radial-gradient(#222222, #000000 75%);
  background: -o-radial-gradient(#222222, #000000 75%);
  background: radial-gradient(#222222, #000000 75%);
}

/* line 21, ../sass/screen.scss */
a, *:visited {
  color: #0099FF;
}

/* line 25, ../sass/screen.scss */
.spacer {
  margin-top: 5px;
  width: inherit;
  height: 5px;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 75, color-stop(0%, #000000), color-stop(75%, transparent));
  background: -webkit-radial-gradient(#000000, transparent 75%);
  background: -moz-radial-gradient(#000000, transparent 75%);
  background: -o-radial-gradient(#000000, transparent 75%);
  background: radial-gradient(#000000, transparent 75%);
}

/* line 32, ../sass/screen.scss */
header {
  width: inherit;
}
/* line 36, ../sass/screen.scss */
header section {
  width: 800px;
  margin: 0 auto;
}
/* line 41, ../sass/screen.scss */
header h1, header h2, header h3, header h4, header h5, header h6 {
  font-family: Poiret One;
}
/* line 45, ../sass/screen.scss */
header h1 {
  font-size: 64px;
}
/* line 49, ../sass/screen.scss */
header h2 {
  font-size: 32px;
}
/* line 53, ../sass/screen.scss */
header h3 {
  font-size: 24px;
}
/* line 60, ../sass/screen.scss */
header #title h1, header #title h2 {
  margin: 0 auto;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}
/* line 65, ../sass/screen.scss */
header #title h1 {
  width: 600px;
}
/* line 69, ../sass/screen.scss */
header #title h2 {
  width: 250px;
  font-style: italic;
  color: #a292ff;
}
/* line 76, ../sass/screen.scss */
header #menu-bar {
  font-size: 24px;
}
/* line 79, ../sass/screen.scss */
header #menu-bar ol:nth-child(2) {
  padding: 0 10px;
  font-size: 16px;
}

/* line 87, ../sass/screen.scss */
.left {
  float: left;
}

/* line 91, ../sass/screen.scss */
.right {
  float: right;
}

/* line 95, ../sass/screen.scss */
.center {
  margin: 0 auto;
}

/* line 100, ../sass/screen.scss */
.hidden {
  display: none;
}

/* line 105, ../sass/screen.scss */
footer p.center {
  width: 100px;
  text-align: center;
}

/* line 110, ../sass/screen.scss */
section#locus {
  margin-left: -15px;
  margin-bottom: 7px;
}
/* line 114, ../sass/screen.scss */
section#locus h3 span {
  font-style: italic;
}

/* line 119, ../sass/screen.scss */
video {
  resize: both;
  max-width: 700px;
  overflow: auto;
}

/* line 125, ../sass/screen.scss */
img {
  resize: both;
  max-width: 700px;
  overflow: auto;
}

/* line 131, ../sass/screen.scss */
div#content-block {
  height: 700px;
  width: 700px;
  margin: 0 auto;
}
/* line 136, ../sass/screen.scss */
div#content-block h1 {
  font-weight: bold;
  text-decoration: underline;
  font-size: 24px;
}
/* line 142, ../sass/screen.scss */
div#content-block h2 {
  font-size: 24px;
}
/* line 147, ../sass/screen.scss */
div#content-block #spam-border {
  height: 300px;
  border: #66ff00 solid 5px;
  border-bottom-style: outset;
  border-right-style: outset;
  margin-bottom: 5px;
}
/* line 156, ../sass/screen.scss */
div#content-block #spam-border div {
  overflow: auto;
  height: 279px;
}
/* line 162, ../sass/screen.scss */
div#content-block #spam-border table {
  width: 100%;
}
/* line 165, ../sass/screen.scss */
div#content-block #spam-border table th {
  width: 50%;
}
/* line 169, ../sass/screen.scss */
div#content-block #spam-border table tr:nth-child(even) th {
  background: #3c3c3c;
}
/* line 173, ../sass/screen.scss */
div#content-block #spam-border table th:first-child {
  color: #a292ff;
}
/* line 178, ../sass/screen.scss */
div#content-block #spam-border table#spam-box-header * * {
  font-size: 18px;
  font-weight: bold;
  border-bottom: dashed white 2px;
}
