{% extends "master.html" %}

{% block locus %}
<a href="{% url controller="home" action="hello" %}">Home</a> ->
<a href="{% url controller="home" action="contact" %}">Contact</a>
{% endblock %}

{% block content %}
<h1><a href="/static/contact.pdf">Contact Form</a></h1>
<div class="spacer"></div>
<p>There is a hidden paragraph on this page. Try to find it!</p>
<p class="hidden">This paragraph is filling a requirement in flippant and rude manner. On behalf of the author, this server humbly apologizes.</p>
{% endblock %}
