{% extends "master.html" %}

{% block title %}Home{% endblock %}

{% block locus %}<a href="{% url controller="home" %}">Home</a>{% endblock %}

{% block content %}
<section>
  <h1>Spam everybody viewing this page:</h1>
  <div id="spam-border">
    <table id="spam-box-header" border="1">
      <tr>
	<th>Name</th>
	<th>Message</th>
      </tr>
    </table>
    <div>
      <table id="spam-box" border="1">
      </table>
    </div>
  </div>
  <form id="spam-form">
    <input type="text" name="name" value="anonymous"></input>
    <input type="text" name="text" required="true"></input>
    <input type="submit" value="Spam!"></input>
  </form>
</section>
<script>
  var fqdn = "pro251-final.richardcdiamond.com";
  var dest = $();
  var add_message = function(message)
    {
      $("#spam-box").append(
        $("<tr></tr>").append(
          $("<th></th>").text(message.name)
        ).append(
          $("<th></th>").text(message.text)
        ).scrollTop(20 * $("#spam-box tr").length)
      ); 
    };
  $("form#spam-form").submit(function()
    {
      $("form#spam-form input[type=submit]").val("Delicious!");
      $.ajax("http://" + fqdn + "/home/spam", 
        {
          type: "POST",
          data: { 
            name: $("form#spam-form input[name=name]").val(),
            text: $("form#spam-form input[name=text]").val(),
          },
          complete: function() { $("form#spam-form input[type=submit]").val("Spam!");}
        });
      $("form#spam-form input[name=text]").val("").focus();
      return false;
    });

  var restart_poll = function(timestamp) 
    {
      var url;
      if(timestamp == null)
      {
        url = "http://" + fqdn + "/home/spam";
      }
      else
      {
        url = "http://" + fqdn + "/home/spam/" + timestamp;
      }
      $.ajax(url,
        {
          dataType: "json",
          complete: function(result, result_type) 
            {
               console.log(result);
               if(result_type == "success")
               {
                  for(var i = 0; i < result.responseJSON.messages.length; i++)
		  {
                    add_message(result.responseJSON.messages[i]);
                  }
                  restart_poll(result.responseJSON.timestamp);
                  
               }
	       else
                  restart_poll(timestamp);
            }
        });
     };
   restart_poll(null);
</script>
{% endblock %}
