{% extends "media_master.html" %}

{% block title %}Media{% endblock %}

{% block media_content %}
<h1>Select a folder:</h1>
<ol>
  <il>
    <
    <a href="{% url controller="home" action="videos" %}">Videos</a>
    >
  </il>
  <br/>
  <il>
    <
    <a href="{% url controller="home" action="pictures" %}">Pictures</a>
    >
  </il>
<ol>
{% endblock %}
