{% extends "media_master.html" %}

{% block title %}Pictures{% endblock %}
{% block media_locus %}
->
<a href="{% url controller="home" action="videos" %}">Videos</a>
{% if video_file_name %}
->
<a href="{% url controller="home" action="picture" filename=file_name %}">{{ file_name | get_basename | title }}</a>
{% endif %}
{% endblock %}

{% block media_content %}
{% if file_name %}
<a href="{% url controller="home" action="picture_data" filename=file_name %}" target="_top">
  <img class="center" src="{% url controller="home" action="picture_data" filename=file_name %}">
</a>
{% elif files  %}
<h1>Select a picture:</h1>
<ol>
  {% for file in files %}
  <il>
    <
    <a href="{% url controller="home" action="pictures" picture=file|get_filename %}">{{ file | get_basename | title }}</a>
    >
  </il>
  <br/>
  {% endfor %}
</ol>
{% endif %}

{% endblock %}
