{% extends "media_master.html" %}

{% block title %}Videos{% endblock %}
{% block media_locus %}
->
<a href="{% url controller="home" action="videos" %}">Videos</a>
{% if video_file_name %}
->
<a href="{% url controller="home" action="videos" filename=video_file_name %}">{{ video_file_name | get_basename | title }}</a>
{% endif %}
{% endblock %}

{% block media_content %}
{% if video_file_name %}
<video autoplay controls class="center" src="{% url controller="home" action="video_data" filename=video_file_name %}">
</video>
{% elif files  %}
<h1>Select a video:</h1>
<ol>
  {% for file in files %}
  <il>
    <
    <a href="{% url controller="home" action="videos" video=file|get_filename %}">{{ file | get_basename | title }}</a>
    >
  </il>
  {% endfor %}
</ol>
{% endif %}

{% endblock %}

