<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %} - Pro251 Final Project</title>
    <link href="/static/screen.css" type="text/css" rel="stylesheet"></link>
    <link href="http://fonts.googleapis.com/css?family=Poiret+One|Anaheim" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  </head>
  <body>
    <header>
      <section id="title">
	<h1>Pro251 Final Project</h1>
	<h2>An easy task.</h2>
      </section>
      <section id="menu-bar">
	<ol>
	  <il> 
	    <
	    <a href="{% url controller="home" action="hello" %}">Home</a>
	    >
	  </il>
	  <il>
	    <
	    <a href="{% url controller="home" action="media" %}">Media</a>
	    >
	  </il>
	  <il>
	    <
	    <a href="{% url controller="home" action="contact" %}">Contact</a>
	    >
	  </il>
	</ol>
	{% block extra_menu %}
	{% endblock %}
      </section>
      <div class="spacer"></div>
    </header>
    <div id="content-block">
      <section id="locus">
	<h3><span>You are here</span> -> {% block locus %}{% endblock %}</h3>
      </section>
      {% block content %}
      
      {% endblock %}
    </div>
    <footer>
      <span class="left">&copy <a href="{% url controller="home" action="contact" %}">Richard Diamond</a></span>
      <p class="center"><a href="http://bitbucket.org/DiamondLovesYou/pro251-final">Source</a></p>
      <span class="right">Powered by <a href="http://chicagoboss.org">Chicago Boss</a> and <a href="http://compass-style.org/">Compass</a>.</span>
    </footer>
  </body>
</html>
