{% extends "master.html" %}

{% block locus %}
<a href="{% url controller="home" action="home" %}">Home</a> ->
<a href="{% url controller="home" action="media" %}">Media</a>
{% block media_locus %}
{% endblock %}
{% endblock %}

{% block content %}
{% block media_content %}
{% endblock %}
<h2 style="margin-top: 15px;">Media</h2>
<p>A wonderful collection of videos and other media. I did not author the single montage, I merely helped in its creation. A good friend, Jake Gregg, created that. He's cool with me using it.</p>
{% endblock %}
